{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link href="{% static 'network/css/main.css' %}" rel="stylesheet">
        {% block head %}{% endblock head %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
            <a class="navbar-brand" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        
{% comment %} POSTS CONTAINER {% endcomment %}
<section class="container p-5 bg-light" id="post-list">
</section>
{% comment %} Paginator {% endcomment %}
<footer class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item">
            <button class="page-link" id="prev-page-btn" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item">
        <button class="page-link" id="next-page-btn" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </button>
    </li>
    </ul>
</footer>

        {% comment %} this is dodgy but I cbf figuring out how to get the user from the session in js {% endcomment %}
            <div style="display: none;" id="user">{{user.pk}}</div>
        <script src="{% static "network/js/utils.js"%}"></script>
        {% block scripts %}
        {% endblock scripts %}
        {% if user.is_authenticated %}
        {% endif %}
    </body>
</html>