{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% comment %} The profile section of the page {% endcomment %}

<section class="container">
  <h1>The profile page</h1>

  <div class="row text-center p-5 bg-dark text-white">
    <div class="col">
      <h3>
        {{profile.username}}
      </h3>
      <p class="lead">
        {{profile.email}}
      </p>
    </div>
    <div class="col">
      <p>number of followers: <span id="follower-count">{{profile.follower_count}}</span></p>
      <p>number of people followed: <span>{{profile.follow_count}}</span></p>
    </div>
  </div>

  {% if user.is_authenticated %}
    {% if user != profile %}
      {% if is_followed %}
        <button id="follow-btn" data-follow-status="true">Unfollow</button>
      {% else %}
        <button id="follow-btn" data-follow-status="false">Follow</button>
      {% endif %}
    {% endif %}
  {% endif %}
</section>

{% comment %} 
  the posts of the user, will be rendered with js
{% endcomment %}
{% endblock %}
{% block scripts %}
<script src="{% static 'network/js/profile.js' %}"></script>
{% endblock scripts %}
