{% extends "network/layout.html" %}

{% block body %}

    

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="fixed top-0 left-0 w-full h-screen flex items-center justify-center -z-10">
        <div class="bg-slate-100 p-5 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Register</h2>
            <form action="{% url 'register' %}" method="post" class="mb-2">
                {% csrf_token %}
                <div class="flex justify-between mb-1">
                    <label class="block mr-4 py-1" for="username">Username:</label>
                    <input class="form-control" required autofocus type="text" name="username" >
                </div>
                <div class="flex justify-between mb-1">
                    <label class="block mr-4 py-1" for="email">Email: </label>
                    <input class="form-control" required type="email" name="email" >
                </div>
                <div class="flex justify-between mb-1">
                    <label class="block mr-4 py-1" for="password">Password: </label>
                    <input class="form-control" required type="password" name="password" >
                </div>
                <div class="flex justify-between mb-1">
                    <label class="block mr-4 py-1" for="confirmation">Confirm Password: </label>
                    <input class="form-control" required type="password" name="confirmation" >
                </div>
                    <input class="py-2 px-4 rounded-md bg-slate-600 hover:bg-slate-700 text-white active:bg-slate-800" type="submit" value="Register">
            </form>
            <div>
                Already have an account? <a class="text-blue-500 underline" href="{% url 'login' %}">Log In here.</a>
            </div>
        </div>
    </div>

{% endblock %}