<div class="mx-auto flex justify-center text-center">
    {% if page_obj.has_previous %}
    <a class="inline-block p-2 px-3 border rounded-l-xl bg-slate-600 text-white m-0" href="?page=1">&laquo; first</a>
    <a class="inline-block p-2 px-3 border bg-slate-600 text-white m-0" href="?page={{page_obj.previous_page_number}}">prev</a>
    {% else %}
    <span class="inline-block p-2 px-3 border rounded-l-xl bg-slate-200 text-white m-0" >&laquo; first</span>
    <span class="inline-block p-2 px-3 border bg-slate-200 text-white m-0" >prev</span>
    {% endif %}
    <span class="inline-block p-2 px-3 border bg-slate-100  m-0"
      >Page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}
    </span>
    {% if page_obj.has_next %}
    <a class="inline-block p-2 px-3 border bg-slate-600 text-white m-0" href="?page={{ page_obj.next_page_number }}">next</a>
    <a class="inline-block p-2 px-3 border rounded-r-xl bg-slate-600 text-white m-0" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% else %}
    
    <span class="inline-block p-2 px-3 border bg-slate-200 text-white m-0" >next</span>
    <span class="inline-block p-2 px-3 border rounded-r-xl bg-slate-200 text-white m-0" >last &raquo;</span>
    {% endif %}
</div>